h1 {
    text-align: center;
    color: red;
    background-color: black;
    padding: 10px;
    margin: 40px;
}
.board {
    margin: 0 auto;
    border-collapse: collapse;
}

.box {
    width: 60px;
    height: 60px;
}


